*{
    position: relative;
   margin:auto;
   background-color: rgb(139, 228, 228);


}



body{
    background-color:rgb(160, 231, 231);
    border-style:solid;
    

}

head{
    background-color: rgb(235, 179, 159);
}